<!DOCTYPE html>
<html ng-app="InventoryApplication">
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles/app.min.css">
    <title>Inventory</title>
  </head>
  <body layout="column" ng-controller="MainController">
    <md-content class="">
      <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
        <md-tab id="tab1">
          <md-tab-label>Home</md-tab-label>
          <md-tab-body>
            Home content to go here explaining application and providing basic controls.
          </md-tab-body>
        </md-tab>
        <md-tab id="tab2">
          <md-tab-label>Items</md-tab-label>
          <md-tab-body>
            <div ng-controller="ListController">
              <md-list>
                <md-subheader class="md-no-sticky">Items</md-subheader>
                <div class="item-container" ng-repeat="item in list.items">
                  <md-list-item class="md-3-line">
                  <span class="md-avatar"><i class="fa fa-battery-full"></i></span>
                  <div class="md-list-item-text">
                    <h3>{{ item.name }}</h3>
                    <h4>Type: {{ item.type }}</h4>
                    <p>Value: {{ item.value }}</p>
                    <p>Quantity: {{ item.quantity }}</p>
                  </div>
                </md-list-item>
                <md-divider ></md-divider>
                </div>
              </md-list>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab id="tab3">
          <md-tab-label>Input</md-tab-label>
          <md-tab-body>
            <div ng-controller="InputController">
              <h2>Please enter a new item</h2>
              <md-content layout-padding class="autoScroll">
                <md-input-container class="md-icon-float" >
                  <md-icon><i class="fa fa-tag"></i></md-icon>
                  <input ng-model="newItem.name" type="text" placeholder="name" ng-required="true">
                </md-input-container>
                <md-input-container>
                  <md-icon><i class="fa fa-battery-full"></i></md-icon>
                  <input ng-model="newItem.type" type="text" placeholder="type">
                </md-input-container>
                <md-input-container >
                  <md-icon><i class="fa fa-plus-square"></i></md-icon>
                  <input ng-model="newItem.value" type="text" placeholder="value">
                </md-input-container>
                  <md-input-container>
                  <md-icon><i class="fa fa-sort-numeric-asc"></i></md-icon>
                  <input ng-model="newItem.quantity" type="number" placeholder="quantity" ng-required="true">
                </md-input-container>
                <md-input-container>
                  <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
                </md-input-container>
              </md-content>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-content>
    <script type="text/javascript" src="scripts/app.min.js"></script>
  </body>   
</html>
